a {
	font-size: 10px;
}

h2 {
	font-size: 12px;
}

h1 {
	font-size: 14px;
}

/*#test a:link, #test a:visited {
	color: red;
	text-decoration: none;
}

#test a:hover {
	color: blue;
	text-decoration: underline;
}
*/
/*a.www:link, .www:visited {
	color: purple;
	text-decoration: underline;
}

a.www:hover {
	color: red;
	text-decoration: none;
}
*/
#test a.www:link, #test a.www:visited {
	color: purple;
	text-decoration: overline;
}

#test a.www:hover {
	color: orange;
	text-decoration: none;
}