h1 {
	text-align: center;
	color: red;
}

h2 {
	color: green;
}

b {
	color: red;
	font-size: 20px;
}

i {
	color: blue;
	font-weight: bold; 
}

p {
	width: 500px;
	font: 12px/25px Arial;
	text-align: justify;
}

ul {
	/*font-family: Times New Roman;*/
	width: 500px;
	/*font-size: 16px;*/
	color: #924763;
	font-style: italic;
}

ol {
	color: red;
}



/*#id_ol {
	color: blue;
	font-weight: bold; 
}

#a {
	color: blue;
	font-weight: bold; 
}
*/


/*

p {
	width: 500px;
	font-family: Arial;
	font-size: 12px;
	text-align: justify;
	line-height: 25px;
}*/

