#s1 a:link, #s1 a:visited {
	color: blue;
	text-decoration: none;
}

#s1 a:hover {
	color: green;
	text-decoration: underline;
}

#s2 a:link, #s2 a:visited {
	color: red;
	text-decoration: underline;
}

#s2 a:hover {
	color: blue;
	text-decoration: line-through;
}

#s3 a:link, #s3 a:visited {
	color: black;
	text-decoration: none;
}

#s3 a:hover {
	color: red;
	text-decoration: overline;
}