p {
	/*color:red;
	text-align:justify;
	font-size:15px;
	font-family:Arial;
	line-height:30px;*/
	font:italic bold 16px/30px Arial; 
	text-indent: 30px;
	text-align:justify;
	width: 300px;
	font-style: italic;
}

#a {
	font-style: normal;
}

#b {
	text-align: center;
}

h1 {
/*	color:green;
	text-align:center;
	font-weight:normal;*/
	font:normal 20px Verdana;
}

h2 {
	color:blue;
	text-align:right;
	width:300px;
	font-style:italic;
	font-size:20px; 
	font-family:Times New Roman;
}

h3 {
	color:orange;
	font-family:sans-serif;
}

table {
	width:400px;
	height:200px;
}

th {
	text-align:left;
}

td {
	text-align:center;
	font-weight:bold;
}

 th, h1, h2 {
 	font-weight:normal;
 }